---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: autovpa-manager
rules:
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
      - update
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - deployments
      - statefulsets
      - verticalpodautoscalers
    verbs:
      - get
      - list
      - patch
      - watch
