---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: autovpa-leader-election
  labels:
    app.kubernetes.io/name: autovpa
    app.kubernetes.io/component: controller
rules:
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
