---
apiVersion: v1
kind: Service
metadata:
  name: autovpa-metrics
  namespace: autovpa-system
  labels:
    app.kubernetes.io/name: autovpa
    app.kubernetes.io/component: controller
spec:
  ports:
    - name: metrics
      port: 8443
      protocol: TCP
      targetPort: metrics
  selector:
    app.kubernetes.io/name: autovpa
    app.kubernetes.io/component: controller
